<ul class="ls-NoBullet  ls-AlumniYears">
       <li>
              {% if page.url == '/alumni.html' %}
                  <a class="is-Selected" href="{{site.baseurl}}/alumni.html">
              {% else %}
                  <a class="" href="{{site.baseurl}}/alumni.html">
              {% endif %}2021</a>
      </li>
       <li>
              {% if page.url == '/alumni/2020.html' %}
                  <a class="is-Selected" href="{{site.baseurl}}/alumni/2020.html">
              {% else %}
                  <a class="" href="{{site.baseurl}}/alumni/2020.html">
              {% endif %}2020</a>
      </li>
       <li>
                {% if page.url == '/alumni/2019.html' %}
                    <a class="is-Selected" href="{{site.baseurl}}/alumni/2019.html">
                {% else %}
                    <a class="" href="{{site.baseurl}}/alumni/2019.html">
                {% endif %}2019</a>
        </li>
        <li>
                {% if page.url == '/alumni/2018.html' %}
                    <a class="is-Selected" href="{{site.baseurl}}/alumni/2018.html">
                {% else %}
                    <a class="" href="{{site.baseurl}}/alumni/2018.html">
                {% endif %}2018</a>
        </li>
        <li>
              {% if page.url == '/alumni/2017.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2017.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2017.html">
              {% endif %}2017</a>
       </li>
       <li>
              {% if page.url == '/alumni/2016.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2016.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2016.html">
              {% endif %}2016</a>
       </li>
       <li>
              {% if page.url == '/alumni/2015.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2015.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2015.html">
              {% endif %}2015</a>
       </li>
       <li>
              {% if page.url == '/alumni/2014.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2014.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2014.html">
              {% endif %}2014</a>
       </li>
       <li>
              {% if page.url == '/alumni/2013.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2013.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2013.html">
              {% endif %}2013</a>
       </li>
       <li>
              {% if page.url == '/alumni/2012.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2012.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2012.html">
              {% endif %}2012</a>
       </li>
       <li>
              {% if page.url == '/alumni/2011.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2011.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2011.html">
              {% endif %}2011</a>
       </li>
       <li>
              {% if page.url == '/alumni/2010.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2010.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2010.html">
              {% endif %}2010</a>
       </li>
       <li>
              {% if page.url == '/alumni/2009.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2009.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2009.html">
              {% endif %}2009</a>
       </li>
       <li>
              {% if page.url == '/alumni/2008.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2008.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2008.html">
              {% endif %}2008</a>
       </li>
       <li>
              {% if page.url == '/alumni/2007.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2007.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2007.html">
              {% endif %}2007</a>
       </li>
       <li>
              {% if page.url == '/alumni/2006.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2006.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2006.html">
              {% endif %}2006</a>
       </li>
       <li>
              {% if page.url == '/alumni/2005.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2005.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2005.html">
              {% endif %}2005</a>
       </li>
       <li>
              {% if page.url == '/alumni/2004.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2004.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2004.html">
              {% endif %}2004</a>
       </li>
       <li>
              {% if page.url == '/alumni/2003.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2003.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2003.html">
              {% endif %}2003</a>
       </li>
       <li>
              {% if page.url == '/alumni/2002.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2002.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2002.html">
              {% endif %}2002</a>
       </li>
       <li>
              {% if page.url == '/alumni/2001.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2001.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2001.html">
              {% endif %}2001</a>
       </li>
       <li>
              {% if page.url == '/alumni/2000.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/2000.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/2000.html">
              {% endif %}2000</a>
       </li>
       <li>
              {% if page.url == '/alumni/1999.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1999.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1999.html">
              {% endif %}1999</a>
       </li>
       <li>
              {% if page.url == '/alumni/1998.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1998.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1998.html">
              {% endif %}1998</a>
       </li>
       <li>
              {% if page.url == '/alumni/1997.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1997.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1997.html">
              {% endif %}1997</a>
       </li>
       <li>
              {% if page.url == '/alumni/1996.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1996.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1996.html">
              {% endif %}1996</a>
       </li>
       <li>
              {% if page.url == '/alumni/1995.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1995.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1995.html">
              {% endif %}1995</a>
       </li>
       <li>
              {% if page.url == '/alumni/1994.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1994.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1994.html">
              {% endif %}1994</a>
       </li>
       <li>
              {% if page.url == '/alumni/1993.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1993.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1993.html">
              {% endif %}1993</a>
       </li>
       <li>
              {% if page.url == '/alumni/1992.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1992.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1992.html">
              {% endif %}1992</a>
       </li>
       <li>
              {% if page.url == '/alumni/1991.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1991.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1991.html">
              {% endif %}1991</a>
       </li>
       <li>
              {% if page.url == '/alumni/1990.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1990.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1990.html">
              {% endif %}1990</a>
       </li>
       <li>
              {% if page.url == '/alumni/1989.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1989.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1989.html">
              {% endif %}1989</a>
       </li>
       <li>
              {% if page.url == '/alumni/1988.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1988.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1988.html">
              {% endif %}1988</a>
       </li>
       <li>
              {% if page.url == '/alumni/1987.html' %}
                     <a class="is-Selected" href="{{site.baseurl}}/alumni/1987.html">
              {% else %}
                     <a class="" href="{{site.baseurl}}/alumni/1987.html">
              {% endif %}1987</a>
       </li>
</ul>