<footer class="ft-WrapperFlex" role="contentinfo">
  <div class="ft-WrapperFixed">
    <div class="ft-Copyright">
        <p>
            &copy; 2004&ndash;<script type="text/javascript">document.write(new Date().getFullYear());</script> Urban Health Project
        </p>
    </div>
    <p class="ft-Links">
        <a class="" href="{{site.baseurl}}/privacy.html">Privacy Policy</a>
    </p>
  </div><!--  /.ft-WrapperFixed -->
</footer>

<div id="ck-Banner" class="ck-Banner" role="region" aria-label="Cookie consent" hidden>
  <p>We use cookies to understand how visitors use this site. See our <a href="{{site.baseurl}}/privacy.html">Privacy Policy</a> for details.</p>
  <div class="ck-Banner_Actions">
    <button type="button" id="ck-Banner_Decline" class="ck-Banner_Decline">Decline</button>
    <button type="button" id="ck-Banner_Accept" class="btn btn-primary">Accept</button>
  </div>
</div>
<script src="{{site.baseurl}}/js/cookie-consent.js"></script>

<!-- <script src="{{site.baseurl}}/js/debug.js"></script> -->