<footer class="ft-WrapperFlex" role="contentinfo">
  <div class="ft-WrapperFixed">
    <div class="ft-Copyright">
        <p>
            &copy; 2004&ndash;<script type="text/javascript">document.write(new Date().getFullYear());</script> Urban Health Project
        </p>
        <p>
            375 Dixmyth Ave, 2nd floor administration, Cincinnati, OH 45220
        </p>
        <p>
            513-569-6155
        </p>
    </div>
    <p class="ft-Links">
        <a class="" href="{{site.baseurl}}/">Home</a>
        <a class="" href="{{site.baseurl}}/about.html">About</a>
        <a class="" href="{{site.baseurl}}/sites.html">Sites</a>
        <a class="" href="{{site.baseurl}}/funders.html">Funders</a>
        <a class="" href="{{site.baseurl}}/become_involved.html">Get Involved</a>
        <a class="" href="{{site.baseurl}}/alumni.html">Alumni</a>
        <a class="" href="{{site.baseurl}}/media.html">Media</a>
        <a class="" href="{{site.baseurl}}/contact.html">Contact</a>
        <a class="ft-LinkCta" href="https://foundation.uc.edu/donate?id=693a5ba0-791b-4c01-9b41-0f506f4f8a02">Donate Now</a>
    </p>
  </div><!--  /.ft-WrapperFixed -->
</footer>

<!-- <script src="{{site.baseurl}}/js/debug.js"></script> -->