<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }} | Urban Health Project</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Erik Wallace">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link rel="stylesheet" href="{{ "/css/main-20260823a.css" | prepend: site.baseurl }}">

  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/imgs/apple-touch-icon-152x152.png" | prepend: site.baseurl }}" />
  <link rel="icon" type="image/png" href="{{ "/imgs/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ "/imgs/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16" />

  <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald:400&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald:400&display=swap" media="print" onload="this.media='all'; this.onload=null;">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald:400&display=swap"></noscript>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VBRH5MNPJT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VBRH5MNPJT');
  </script>

</head>


